<section id="faq" class="section faq-section">
  <div class="container faq-container">
    <div class="faq-title-wrap">
      <h2 class="section-title faq-title">
        Frequently asked
        <span class="faq-title-span text-split letters-fade-in-random"
          >question</span
        >
      </h2>
      <div class="faq-img-wrap"></div>
    </div>

    <ul class="faq-list accordion-container">
      <li
        class="faq-list-item ac is-active border-top-animate border-bottom-animate"
      >
        <h3 class="faq-item-title">
          <button type="button" class="faq-button ac-trigger">
            What programming languages are most often used in your project?
            <svg class="faq-dropdown" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-dropdown"></use>
            </svg>
          </button>
        </h3>

        <div class="faq-text-wrap ac-panel">
          <p class="faq-item-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac">
        <h3 class="faq-item-title">
          <button type="button" class="faq-button ac-trigger">
            What are the deadlines for the project?
            <svg class="faq-dropdown" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-dropdown"></use>
            </svg>
          </button>
        </h3>

        <div class="faq-text-wrap ac-panel">
          <p class="faq-item-text ac-panel">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac">
        <h3 class="faq-item-title">
          <button type="button" class="faq-button ac-trigger">
            What payment methods do you accept?
            <svg class="faq-dropdown" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-dropdown"></use>
            </svg>
          </button>
        </h3>

        <div class="faq-text-wrap ac-panel">
          <p class="faq-item-text ac-panel">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac">
        <h3 class="faq-item-title">
          <button type="button" class="faq-button ac-trigger">
            How can I contact you?
            <svg class="faq-dropdown" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-dropdown"></use>
            </svg>
          </button>
        </h3>

        <div class="faq-text-wrap ac-panel">
          <p class="faq-item-text ac-panel">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac">
        <h3 class="faq-item-title">
          <button type="button" class="faq-button ac-trigger">
            Do you provide advice or support?
            <svg class="faq-dropdown" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-dropdown"></use>
            </svg>
          </button>
        </h3>

        <div class="faq-text-wrap ac-panel">
          <p class="faq-item-text ac-panel">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac">
        <h3 class="faq-item-title">
          <button type="button" class="faq-button ac-trigger">
            What does the process of developing a software product look like
            from idea to implementation?
            <svg class="faq-dropdown" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-dropdown"></use>
            </svg>
          </button>
        </h3>

        <div class="faq-text-wrap ac-panel">
          <p class="faq-item-text ac-panel">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
