<header class="header">
  <div class="container">
    <nav class="header-navigation">
      <a class="header-logo" href="./">Lloyd<span>Jefferson.</span></a>
      <ul class="header-list">
        <li class="header-item">
          <a href="#about" class="link-hover">About me</a>
        </li>
        <li class="header-item">
          <a href="#my-projects" class="link-hover">Projects</a>
        </li>
        <li class="header-item">
          <a href="#contacts" class="link-hover">Contacts</a>
        </li>
      </ul>
      <button type="button" class="open-menu-btn">
        <svg class="icon-open-menu" width="32" height="32">
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>

  <div class="container mob-menu-container">
    <nav class="mob-menu-navigation">
      <a class="header-logo" href="./">Lloyd<span>Jefferson.</span></a>
      <button type="button" class="close-menu-btn">
        <svg width="32" height="32" class="icon-close-btn">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
    <div class="list-wrap">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a href="#about" class="link-hover">About me</a>
        </li>
        <li class="mob-menu-item">
          <a href="#my-projects" class="link-hover">Projects</a>
        </li>
        <li class="mob-menu-item">
          <a href="#contacts" class="link-hover">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
