<section class="section hero-section" id="hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-first-part">
        <h1 class="hero-title">
          Hello, I am
          <span class="hero-title-part">Fullstack developer</span>
        </h1>
        <a class="hero-link" href="#work-together">
          <svg class="social-icons" width="30" height="16">
            <use href="/img/sprite.svg#icon-arrow-right-hero"></use>
          </svg>
          <p class="hero-link-text">Order the project</p>
          <span class="hero-link-element"></span>
        </a>
      </div>
      <div class="hero-second-part">
        <picture>
          <source
            srcset="
              ./img/hero/hero-webp/hero-img-dp-1x.webp 1x,
              ./img/hero/hero-webp/hero-img-dp-2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              /img/hero/hero-img-dp-1x.jpg 1x,
              /img/hero/hero-img-dp-2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            src="/img/hero/hero-img-dp-1x.jpg"
            alt="photo-of-Lloyd-Jefferson"
            width="592"
            height="444"
            class="hero-img"
          />
        </picture>
        <p class="hero-text">
          I work with people all over the world to create
          <span class="hero-text-part">impressive</span> and
          <span class="hero-text-part">functional websites</span> that reflect
          each client’s unique personality.
        </p>
      </div>
    </div>
  </div>
  <ul class="hero-social-list">
    <li class="hero-social-item">
      <a
        class="hero-social-link link-hover"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        >Instagram</a
      >
    </li>
    <li class="hero-social-item">
      <a
        class="hero-social-link link-hover"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        >Facebook</a
      >
    </li>
    <li class="hero-social-item">
      <a
        class="hero-social-link link-hover"
        href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
        target="_blank"
        >Linkedin</a
      >
    </li>
    <li class="hero-social-item">
      <a
        class="hero-social-link link-hover"
        href="https://github.com/Vikto0004/browser-battalion-2.0"
        target="_blank"
        >GitHub</a
      >
    </li>
  </ul>
</section>
