<section class="section projects">
  <div class="container projects-container">
    <h2 class="section-title projects-title">my <span>projects</span></h2>
    <ul class="projects-list">
      <!-- <li class="projects-item">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects/webp/chego.webp    1x,
              ./img/projects/webp/chego-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/projects/jpg/chego-min.jpg    1x,
              ./img/projects/jpg/chego-2x-min.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./img/projects/jpg/chego-min.jpg" alt="" />
        </picture>
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-bottom">
          <h3 class="projects-item-title">Wallet webservice</h3>
          <button class="projects-item-btn">
            VISIT
            <svg class="projects-item-btn-icon">
              <use href="./img/sprite.svg#icon-arrow-visit"></use>
            </svg>
          </button>
        </div>
      </li> -->
    </ul>
    <button class="projects-load-btn">LOAD MORE</button>
  </div>
</section>
