<section class="section-reviews">
  <div class="container">
    <h2 class="section-title is-reviews">Reviews</h2>

    <!-- Swiper -->
    <div id="reviews-slider" class="swiper">
      <ul class="swiper-wrapper is-reviews"></ul>
      <div class="reviews-slider-nav">
        <div class="swiper-button-prev">
          <svg width="24" height="24" class="swiper-button-prev-icon">
            <use href="./img/sprite.svg#icon-arrow-right-reviews"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg width="24" height="24" class="swiper-button-next-icon">
            <use href="./img/sprite.svg#icon-arrow-right-reviews"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
