<section class="section">
  <div class="running-line-container">
    <h2 class="setion-title visually-hidden">My Tech skills</h2>
    <div class="tech-skills-box">
      <ul class="tech-skils-running-line-list">
        <li class="tech-skils-running-line-item">Html/Css</li>
        <li class="tech-skils-running-line-item">Javascript</li>
        <li class="tech-skils-running-line-item">React</li>
        <li class="tech-skils-running-line-item">Node.js</li>
        <li class="tech-skils-running-line-item">React Native</li>
        <li class="tech-skils-running-line-item">Typescript</li>
      </ul>
      <ul class="tech-skils-running-line-list">
        <li class="tech-skils-running-line-item">Html/Css</li>
        <li class="tech-skils-running-line-item">Javascript</li>
        <li class="tech-skils-running-line-item">React</li>
        <li class="tech-skils-running-line-item">Node.js</li>
        <li class="tech-skils-running-line-item">React Native</li>
        <li class="tech-skils-running-line-item">Typescript</li>
      </ul>
    </div>
    <div class="tech-skills-box-second">
      <ul class="tech-skils-running-line-list type-two">
        <li class="tech-skils-running-line-item type-two">Html/Css</li>
        <li class="tech-skils-running-line-item type-two">Javascript</li>
        <li class="tech-skils-running-line-item type-two">React</li>
        <li class="tech-skils-running-line-item type-two">Node.js</li>
        <li class="tech-skils-running-line-item type-two">React Native</li>
        <li class="tech-skils-running-line-item type-two">Typescript</li>
      </ul>
      <ul class="tech-skils-running-line-list type-two">
        <li class="tech-skils-running-line-item type-two">Html/Css</li>
        <li class="tech-skils-running-line-item type-two">Javascript</li>
        <li class="tech-skils-running-line-item type-two">React</li>
        <li class="tech-skils-running-line-item type-two">Node.js</li>
        <li class="tech-skils-running-line-item type-two">React Native</li>
        <li class="tech-skils-running-line-item type-two">Typescript</li>
      </ul>
    </div>
  </div>
</section>
