<section class="section section-together" id="work-together">
  <div class="container work-together-container">
    <div class="work-together-section-left">
      <h3 class="section-title work-together-title">
        let’s <span>work together</span>
      </h3>
      <div class="work-together-decor"></div>
      <p class="work-together-text">
        Contact me to transform your ideas into exceptional solutions.
      </p>
      <ul class="work-together-list">
        <li class="work-together-item">
          <svg class="work-together-icon" width="20" height="20">
            <use href="img/sprite.svg#icon-phone"></use>
          </svg>
          <a href="tel:+380904567890" class="link work-together-link"
            >+38 090 456 78 90</a
          >
        </li>
        <li class="work-together-item">
          <svg class="work-together-icon" width="20" height="20">
            <use href="img/sprite.svg#icon-mail"></use>
          </svg>
          <a
            href="mailto:lloydjefferson@gmail.com"
            class="link work-together-link"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="work-together-item">
          <svg class="work-together-icon" width="20" height="20">
            <use href="img/sprite.svg#icon-lacation"></use>
          </svg>
          <a href="#" class="link work-together-link">USA, New York</a>
        </li>
      </ul>
    </div>
    <div class="work-together-section-right">
      <form class="work-together-form">
        <input
          class="work-together-input"
          name="email"
          type="email"
          placeholder="Your email*"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <svg class="work-together-success" width="14" height="14">
          <use href="img/sprite.svg#icon-ep_success-filled"></use>
        </svg>
        <p class="work-together-errorInput">Invalid email, try again</p>
        <textarea
          class="work-together-message"
          name="Message"
          placeholder="Message"
          minlength="10"
        ></textarea>
        <p class="work-together-errorMessage">the field must be filled</p>
        <button class="work-together-sumbit" type="submit">SEND MESSAGE</button>
      </form>
    </div>
    <div class="work-together-backdrop">
      <div class="work-together-modal">
        <button class="work-together-close">
          <svg class="work-together-close-icon" width="24" height="24">
            <use href="img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <h2 class="work-together-modal-title">
          Thank you for your interest in cooperation!
        </h2>
        <p class="work-together-modal-text">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
  </div>
</section>
