html {
  scroll-behavior: smooth;
}

.section {
  padding-bottom: 80px;
}

.container {
  max-width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: var(--accent-green);
}

.link-hover {
  transition: color 0.4s var(--hover-effect);
}

.link-hover:hover {
  color: var(--accent-green);
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 125px;
  }

  .container {
    padding: 0 32px;
    max-width: 768px;
  }

  .section-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 164px;
  }

  .container {
    max-width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
  display: flex;
}
