.benefits {
  padding-top: 113px;
}
.section-title {
  max-width: 320px;
  margin-bottom: 40px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.benefits-icons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(0, 176, 104, 0.1);
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}
.benefits-icon-item {
  fill: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  stroke-width: 2px;
  stroke: var(--accent-green);
}

.benefits-subtitle {
  font-family: 'Poppins Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.benefits-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--black);
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 124px;
  }
  .section-title {
    max-width: 704px;
    max-height: 372px;
    margin-bottom: 0;
  }
  .benefits-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }
  .benefits-list-item:nth-child(1) {
    grid-column: 2;
  }
  .benefits-list-item:nth-child(2) {
    grid-column: 1;
  }
  .benefits-list-item:nth-child(3) {
    grid-column: 2;
  }
  .benefits-list-item:nth-child(4) {
    grid-column: 1;
  }

  .benefits-subtitle {
    font-size: 20px;
    line-height: 1.6;
  }
  .benefits-item-text {
    max-width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  /* .benefits-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .benefits-list-item:nth-child(1) {
    grid-column: 3;
  }
  .benefits-list-item:nth-child(2) {
    grid-column: 1;
  }
  .benefits-list-item:nth-child(3) {
    grid-column: 2;
  }
  .benefits-list-item:nth-child(4) {
    grid-column: 3;
  } */
}
