.faq-title {
  margin-bottom: 40px;
}

.faq-list-item.ac {
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  padding: 28px 24px;
  border: 0;
  margin-top: 0;
  background-color: transparent;
  transition: background-color 400ms ease-in-out,
    border-radius 600ms ease-in-out;
  position: relative;
}

.faq-list-item.ac:first-child::before,
.faq-list-item.ac::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  transition: width 300ms linear 300ms, left 300ms linear 300ms;
}

.faq-list-item.ac:first-child::before {
  top: 0;
}

.faq-list-item.ac::after {
  bottom: 0;
}

.faq-list-item.ac.border-bottom-animate::after,
.faq-list-item.ac.border-top-animate:first-child::before {
  width: 0%;
  left: 50%;
}

.faq-item-title {
  display: flex;
  position: relative;
}

button.faq-button.ac-trigger {
  font: 400 18px 'Poppins', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text);
  padding: 0 48px 0 0;
}

.ac .faq-button.ac-trigger::after {
  content: '';
  text-align: center;
  width: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  position: static;
}

.ac .faq-button.ac-trigger:focus {
  color: var(--text);
}

.faq-dropdown {
  fill: transparent;
  stroke: var(--text);
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 600ms;
}

.faq-item-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-top: 24px;
}

.faq-list-item.is-active {
  background-color: var(--light-accent);
  border-radius: 16px;

  .faq-dropdown {
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 768px) {
  .faq-title {
    margin-bottom: 60px;
  }

  button.faq-button.ac-trigger {
    font: 400 20px 'Poppins', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1280px) {
  .faq-container {
    display: flex;
    height: 1020px;
  }

  .faq-title {
    margin-bottom: 0;
    background-image: url(../img/faq/decor-bg-4-min.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .faq-list {
    max-width: 592px;
    margin-top: 276px;
  }
}
