.faq-title {
  margin-bottom: 40px;
}

.faq-list-item.ac {
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  padding: 28px 24px;
  border: 0;
  margin-top: 0;
  background-color: transparent;
  transition: background-color 400ms ease-in-out,
    border-radius 600ms ease-in-out;
  position: relative;
}

.faq-list-item.ac:first-child::before,
.faq-list-item.ac::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  transition: width 300ms linear 300ms, left 300ms linear 300ms;
}

.faq-list-item.ac:first-child::before {
  top: 0;
}

.faq-list-item.ac::after {
  bottom: 0;
}

.faq-list-item.ac.border-animate::after,
.faq-list-item.ac.border-animate:first-child::before {
  width: 0%;
  left: 50%;
}

.faq-item-title {
  display: flex;
  position: relative;
}

button.faq-button.ac-trigger {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0 48px 0 0;
}

.ac .faq-button.ac-trigger::after {
  content: '';
  text-align: center;
  width: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  position: static;
}

.ac .faq-button.ac-trigger:focus {
  color: var(--text);
}

.faq-dropdown {
  fill: transparent;
  stroke: var(--text);
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 600ms;
}

.faq-item-text {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.2px;
  padding-top: 24px;
}

.faq-list-item.is-active {
  background-color: var(--light-accent);
  border-radius: 16px;

  .faq-dropdown {
    transform: rotate(180deg);
  }
}
