.footer {
  padding: 40px 0 24px;
  border-top: 1px solid var(--light-grey);
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.footer-logo {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer-logo span {
  color: var(--accent-green);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .footer-text {
    text-align: end;
  }
}

@media screen and (min-width: 1280px) {
  .footer-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}
