.footer {
  padding: 40px 0 24px;
  border-top: 1px solid var(--light-grey);
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.footer-logo {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer-logo span {
  color: var(--accent-green);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-text {
  text-align: center;
}

.scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: var(--light-grey);
  position: fixed;
  right: 3%;
  bottom: 3%;
  transform: scale(0);
  visibility: hidden;
  z-index: 99999;
  opacity: 0;
  transition: all 0.3s var(--hover-effect);
}

.scroll-btn:focus,
.scroll-btn:hover {
  background-color: var(--gray-visit-hover);
}

.scroll-btn-icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: var(--text);
  opacity: 0.6;
}

.is-active-scroll {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .footer-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .footer-text {
    text-align: end;
  }

  .scroll-btn {
    width: 55px;
    height: 55px;
  }

  .scroll-btn-icon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .scroll-btn {
    width: 60px;
    height: 60px;
  }

  .scroll-btn-icon {
    width: 38px;
    height: 33px;
  }
}
