.header {
  padding: 20px 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-logo {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text);
}

.header-logo span {
  color: var(--accent-green);
}

.header-list {
  display: none;
}

.open-menu-btn {
  border: none;
  line-height: 0;
  background-color: transparent;
  padding: 0;
  stroke: var(--text);
}

.mob-menu-container {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  z-index: 10;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: all 350ms var(--hover-effect);
}
.list-wrap {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-menu-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mob-menu-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  background-image: url(../img/header-bg/decor-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.close-menu-btn {
  border: none;
  line-height: 0;
  background-color: transparent;
  padding: 0;
  stroke: var(--text);
}

.theme-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;
  width: 48px;
  height: 24px;
  cursor: pointer;

  background-color: #e4e5e6;

  border-radius: 16px;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &::before {
    background-color: #2a2d32;
    opacity: 0;
  }

  &::after {
    background-color: #00b068;
  }

  &:checked {
    background-color: #2a2d32;

    &::before {
      transform: translateX(calc(80%));
      background-color: #2a2d32;
      opacity: 1;
      z-index: 10;
    }
    &::after {
      transform: translateX(calc(100% + 3px));
    }
  }
}
/* ---------------------TABLET-------------------------- */
@media screen and (min-width: 768px) {
  .header {
    padding: 32px 0;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-navigation {
    gap: 40px;
  }

  .open-menu-btn {
    display: none;
  }
  .mob-menu-container {
    display: none;
  }
}
