.hero-section {
}

.hero-content {
  background-image: url('/img/hero/hero-decor-bg-1-mob.png'),
    url(/img/hero/hero-decor-bg-2-mob.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top, right top 362px;
  margin: 16px 0;
}

@media screen and (min-width: 768px) {
  .hero-content {
    background-image: url(/img/hero/hero-decor-bg-1-tab.png),
      url(/img/hero/hero-decor-bg-2-tab.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, right 224px bottom 178px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-content {
    background-image: url(/img/hero/hero-decor-bg-1-dp.png),
      url(/img/hero/hero-decor-bg-2-dp.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, top 468px left 204px;
    display: flex;
    justify-content: space-between;
    padding: 72px 0 80px;
  }
}

.hero-first-part {
}

@media screen and (min-width: 1280px) {
  .hero-first-part {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

.hero-title {
  font-family: 'Impact', sans-serif;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text);
  padding-top: 112px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 124px;
    line-height: 1.19355;
    letter-spacing: 0.01em;
    padding-top: 72px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.hero-title-part {
  color: var(--accent-green);
}

.social-icons {
  fill: var(--accent-green);
}

.hero-link {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 5;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero-link {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-link {
    margin-left: 76px;
  }
}

.hero-link-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .hero-link-text {
    font-size: 20px;
    line-height: 1.6;
  }
}

.hero-link-element {
  width: 165px;
  height: 92px;
  z-index: -1;
  margin-left: -83px;
  background-color: rgba(0, 176, 104, 0.2);
  border-radius: 16px;
  transition: background-color 0.2s var(--hover-effect);
}

@media screen and (min-width: 768px) {
  .hero-link-element {
    margin-left: -107px;
    width: 261px;
    height: 96px;
  }
}

.hero-link-element:hover {
  background-color: var(--green-hero-hover);
}

.hero-second-part {
}

@media screen and (min-width: 1280px) {
  .hero-second-part {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

.hero-img {
  display: none;
}

@media screen and (min-width: 1280px) {
  .hero-img {
    display: flex;
    border-radius: 36px;
    width: 592px;
    height: 444px;
  }
}

.hero-text {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text);
  padding-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding-bottom: 88px;
  }
}

.hero-text-part {
  color: var(--accent-green);
}

.hero-social-list {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 0px;
}

@media screen and (min-width: 768px) {
  .hero-social-list {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 40px 0px;
  }
}

.hero-social-item {
}

.hero-social-link {
}
