.projects-title {
  text-align: center;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1280) {
    margin-bottom: 80px;
  }
}

.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @media screen and (min-width: 768px) {
    gap: 60px;
  }

  @media screen and (min-width: 1280) {
    gap: 80px;
  }
}

.projects-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects-item-img {
  border-radius: 16px;
  margin-bottom: 12px;
}

.projects-item-skills {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.projects-item-bottom {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
  }
}

.projects-item-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
    margin-bottom: 0;
  }
}

.projects-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  background-color: var(--light-grey);
  border: none;
  border-radius: 8px;

  padding: 12px 24px;

  margin-left: auto;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #bbb;
  }
}

.projects-item-btn-icon {
  stroke: var(--accent-green);
  width: 24px;
  height: 24px;
}

.projects-load-btn {
  position: relative;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  border: none;

  display: block;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--accent-green);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-green);
  }

  &.load::after {
    animation: expand-width 1s infinite;
  }
}

@keyframes expand-width {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
