.section-reviews {
}
.section-title.is-reviews {
  text-align: center;
  margin-bottom: 40px;
}
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.reviews-review-card {
  border-radius: 16px;
  padding: 32px;
  background-color: var(--light-grey);
  min-height: 224px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.review-card-text {
}
.review-card-button-load-more {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  display: block;
  text-align: right;
  font-family: inherit;
  font-weight: 300;
}
.review-card-text.is-colapsed {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.review-card-text.is-expand {
  margin-bottom: 24px;
  display: block;
  overflow: visible;
}
.review-card-author {
  margin-top: 24px;

  display: flex;
  align-items: center;
  gap: 16px;
}
.review-card-author-avatar {
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
}
.review-card-author-name {
  font-weight: 600;
}
.reviews-slider-nav {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  justify-content: end;
}
.swiper-button-next,
.swiper-button-prev {
  border: 1px solid rgba(41, 41, 41, 0.3);
  border-radius: 8px;
  padding: 12px;
  width: 40px !important;
  height: 40px !important;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev {
  transform: rotate(180deg);
}
.swiper-button-prev svg,
.swiper-button-next svg {
  flex-shrink: 0;
  fill: transparent;
  stroke: var(--black);
}
.swiper-button-disabled {
  border: 1px solid rgba(41, 41, 41, 0.1);
}
.swiper-button-disabled svg {
  stroke: #cccccc;
}

@media screen and (min-width: 1280px) {
  .review-card-button-load-more {
    transition: color 0.4s ease;
  }
  .review-card-button-load-more:hover,
  .review-card-button-load-more:focus {
    color: var(--accent-green);
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 48px !important;
    height: 48px !important;
    transition: background 0.4s ease;
    outline: none;
    cursor: pointer;
  }
  .swiper-button-next:focus,
  .swiper-button-prev:focus,
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: var(--light-grey);
  }
}
