.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ========================== MOBILE STYLES ========================== */



.tech-skills-box {
    background-color: var(--light-accent);
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 1;
}

.tech-skills-box-second {
    background-color: var(--light-grey);
    display: flex;
    transform: rotate(2deg);
    z-index: 2;
}

.tech-skils-running-line-list {
    display: flex;
    animation: runnung-line 4s var(--hover-effect) infinite;
    min-width: 180%;

}

.tech-skils-running-line-list.type-two {
    animation: runnung-line-type-two 4s var(--hover-effect) infinite;
    color: var(--accent-green);
}

.tech-skils-running-line-item {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 32px 20px;
    white-space: nowrap;
    position: relative;
}


@keyframes runnung-line {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes runnung-line-type-two {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.tech-skils-running-line-item::after {
    content: '';
    position: absolute;
    top: 45%;
    border: 2px solid var(--text);
    border-radius: 15%;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: var(--accent-green);

}

.tech-skils-running-line-list.style-2 {
    color: var(--accent-green);
    background-color: var(--light-grey);
}

.tech-skils-running-line-list.style-2::after {
    background-color: var(--text);
}