.work-together-title {
    margin-bottom: 40px;
}
.work-together-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: rgba(41, 41, 41, 1);
    text-transform: uppercase;
    margin-bottom: 32px;
}
.work-together-list {
 display: flex;
 flex-direction: column;
 gap: 16px;
 margin-bottom: 40px;
}
.work-together-item {
    display: flex;
    align-items: center;
    gap: 16px;
}
.work-together-icon {
    stroke: rgba(0, 176, 104, 1);
    fill: transparent;
}
.work-together-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: rgba(41, 41, 41, 1);
    transition: color .4s ease;
}
.work-together-form {
    display: grid;
    position: relative;
}
.work-together-input,
.work-together-message {
    background-color: rgba(228, 229, 230, 1);
    border: none;
    border-radius: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: rgba(41, 41, 41, 1);
}
.work-together-input {
    padding: 12px;
    margin-bottom: 32px;
}
.work-together-input:invalid {
    color: rgba(231, 74, 59, 1);
}
.work-together-success {
    position: absolute;
    right: 17px;
    top: 17px;
    fill: rgba(0, 176, 104, 1);
    display: none;
}
.work-together-message {
    height: 128px;
    padding: 16px;
    margin-bottom: 32px;
}
.work-together-input::placeholder,
.work-together-message::placeholder{
    color: rgba(41, 41, 41, 0.4);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}
.work-together-sumbit {
    background-color: rgba(0, 176, 104, 1);
    border: none;
    border-radius: 10px;
    color: rgba(240, 240, 240, 1);
    height: 48px;
    transition: color 0.4s ease;
}
.work-together-sumbit:hover,
.work-together-sumbit:focus {
    background-color: rgba(0, 145, 86, 1);
}
.work-together-errorInput,
.work-together-errorMessage {
    display: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: rgba(231, 74, 59, 1);
    margin-top: -28px;
}
.work-together-backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 1);
    opacity: .8;
    animation: is-open;
}
.work-together-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 328px;
    background-color: rgba(240, 240, 240, 1);
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 16px;
    padding: 48px 32px;
}
.work-together-close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    transition: all .4s ease;
    font-size: 20px;
}
.work-together-close:hover {
    transform: scale(1.2);
    border: 1px solid black;
    background-color: rgb(210, 209, 209);
}
.work-together-modal-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: rgba(0, 176, 104, 1);
    margin-bottom: 16px;
}
.work-together-modal-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(41, 41, 41, 1);
}
.work-together-together-img {
    display: none;
}

@media screen and (min-width: 768px) {
    .work-together-title {
        min-width: 508px;
    }
    .section-together {
        position: relative;
    }
    .together-img {
        display: block;
        position: absolute;
        top: 0;
        right: 32px;
        width: 336px;
        height: 260px;
    }
    .work-together-text {
        width: 488px;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.025em;
    }
    .work-together-list {
        flex-direction: row;
        margin-bottom: 60px;
    }
    .work-together-item {
        gap: 19px;
    }
    .work-together-sumbit {
        max-width: 173px;
    }
    .work-together-modal {
        width: 492px;
        height: 280px;
        padding: 64px;
    }
    .work-together-close {
        top: 26px;
        right: 26px;
    }
}

@media screen and (min-width: 1280px) {
    .work-together-title {
       width: 515px;
       margin-bottom: 80px;
    }
    .together-img {
        width: 526px;
        height: 408px;
    }
    .work-together-text {
        margin-bottom: 120px;
    }
    .work-together-list {
        flex-direction: column;
    }
    .work-together-link {
        font-size: 18px;
    }
    .work-together-container {
        display: flex;
        gap: 136px;
        justify-content: space-between;
    }
    .work-together-section-right {
        padding-top: 330px;
    }
    .work-together-input {
        width: 592px;
    }
}
